html{
    --font-regular-sans: 'pt-sans-regular',sans-serif;
    --font-bold-sans: 'pt-sans-bold',sans-serif;
    --font-italic-sans: 'pt-sans-italic',sans-serif;

    --font-bold-serif: 'pt-serif-bold',sans-serif;
    --font-regular-serif: 'pt-serif-regular',sans-serif;

    --font-regular-lato: 'lato-regular',sans-serif;

    --color-accent: #ff6633;
    --color-font-light: #fff;
    --color-font-dark: #3b3b3b;

    --color-bg-light: #fff;
    --color-bg-dark: #f7f7f7;
    --color-bg-footer: #222222;
};