<section id="gll" class="gallery">
    <div class="gallery__grid">
        <div class="gallery__item gallery__item-1">
            <h3 class="gallery__title">About Voila Restaurant</h3>
            <p class="gallery__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis lorem nec enim tempus viverra condimentum eget dui. Quisque ac ornare orci lacinia facilisis velit eget interdum.
                Quisque orci neque, euismod vitae turpis quis, accumsan iaculis velit. Nulla lacinia facilisis velit eget interdum.
            </p>
            <button class="gallery__btn header__btn">Read More</button>
        </div>
        <div class="gallery__item gallery__item-2"></div>
        <div class="gallery__item gallery__item-3">
            <img src="./img/bng_2.webp" alt="picture" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item-4">
            <img src="./img/bg_3.webp" alt="picture" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item-5">
            <img src="./img/bg_4.webp" alt="picture" class="gallery__img">
        </div>
    </div>
</section>