<section class="social">
    <div class="container social__container">
        <div class="social__wrap">
            <h5 class="social__title">Book a Table</h5>
            <p class="social__text">Like our restaurant concept? Book a table and taste our dishes on first hand.</p>
            <button class="social__btn header__btn">Book a table</button>
        </div>

        <div class="social__row"><span class="social__separator">Or</span></div>

        <div class="social__wrap">
            <h5 class="social__title">Tell to Your Friends</h5>
            <p class="social__text social__text--margin">Some of your friends may like to visit if you recommend us. They’ll trust your taste!</p>
            <div class="social__wrapper">
                <button class="social__item">
                    <span class="social__icon icon-facebook-bg"></span>
                    <span class="text">Share</span>
                </button>
                <button class="social__item social__item--light">
                    <span class="social__icon icon-twitter"></span>
                    <span class="text">Tweet</span>
                </button>
            </div>
        </div>
    </div>
</section>