.events{
    background: var(--color-bg-dark);
    min-height: 60vh;
    padding-top: 25px;
    padding-bottom: 25px;
    @include media(844px){  
        padding-top: 120px;
        padding-bottom: 128px;
     }
    &__container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 5px;
        @include media(844px){
            flex-direction: row;
            padding: 0;
         }
    }
    &__title{
        font-family: var(--font-bold-serif);
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        color: var( --color-font-dark);
        margin-bottom: 40px;
    }
    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
        padding-top: 79px;
        flex: 1 1 100%;
        min-height: 598px;
        background-color: #ffffff;
        box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
        margin-bottom: 10px;
        @include media(844px){
           flex: 0 1 48.5%;
           padding: 0 73px;
           padding-top: 79px;
           margin-bottom: 0;
        }
        &--padding{
         padding: 0 28px;
         padding-top: 73px;
         @include media(844px){
            padding: 0 28px;
            padding-top: 79px;
            margin-bottom: 0;
         }
        }
    }
    &__btn{
        border: none;
        cursor: pointer;
        margin-top: 8px;
        text-align: center;
    }
    &__input{
        width: 100%;
        background-color: #f7f7f7;
        border: 1px solid #e5e4e4;
        height: 50px;
        padding-left: 22px;
    }
    &__row{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    &__icon{
        position: absolute;
        top: 20px;
        font-size: 13px;
        right: 20px;
        color: #3e3e3e;
    }
}
.btn--dark{
    background-color: var(--color-bg-footer);
    width: 100%;
}
.article{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    &__item{
        display: block;
        margin-bottom: 27px;
        @include media(728px){
            display: flex;
        }
    }
    &__picture{
        width: 72px;
        height: 72px; 
        margin-right: 20px;
        background-color: var(--color-bg-dark);
        border: 1px solid #e5e4e4;
        border-radius: 50%;
    }
    &__row{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 282px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        margin-right: 11px;
        &:last-of-type{
            margin-right: 0;
        }
    }
    &__title{
        font-family: var(--font-bold-serif);
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: var(--color-accent);
    }
    &__date{
        font-family: var(--font-bold-sans);
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        color: var(--color-font-dark);
    }
    &__text{
        font-family: var(--font-regular-sans);
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: var(--color-font-dark);
    }
    &__link{
        font-family: var(--font-italic-sans);
        font-style: italic;
        color: var(--color-accent);
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-decoration: none;
    }
    &__icon{
        margin-right: 5px;
        font-size: 13px;
        color: #555555;
    }
}