.info{

    @include media(728px){
        padding-top: 68px;
        margin-bottom: 120px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5px;
        @include media(768px){
            flex-direction: row;
        }
    }
    &__wrap{
        flex: 1 1 45%;
        flex-wrap: wrap;
        font-size: 16px;
        &--flex{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 5px;
            @include media(768px){
                padding: 32px;
            }
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 5px;
        min-height: 457px;
        @include media(768px){
            grid-gap: 30px;
        }
    }
    &__item{
        &-1{
            background: url('../img/mini_img_1.webp') left center / cover no-repeat;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &-2{
            background: url('../img/mini_img_2.webp') left center / cover no-repeat;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &-3{
            background: url('../img/mini_img_3.webp') left center / cover no-repeat;
            grid-column: 1 / 3;
            grid-row: 2 / 3; 
        }
    }
    
}